body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #D8E1EC; /* Устанавливаем цвет фона для всей страницы */
    font-size: 150%; 
}

/* Внешний контейнер, который растягивается на всю ширину устройства */
.outer-container {
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    width: 100vw;            /* Занимаем всю ширину экрана */
    height: 100vh;           /* Занимаем всю высоту экрана */
    background-color: #D8E1EC; /* Цвет фона */
}

@font-face {
    font-family: 'Flamenco-Regular'; 
    src: url('../fonts/Flamenco-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Flamenco-Regular', sans-serif;
}

h4 {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Основной контейнер плеера */
.player-container {
    position: relative;
    width: 400px;
    height: 650px; /* Общая высота плеера */
    padding: 40px;
    background-color: #D8E1EC;
    /* border-radius: 15px; */
    /* box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3); */
    margin: 50px auto;
    overflow: visible; /* Позволяем элементам выходить за пределы контейнера */
}

/* Контейнер для левой и правой части */
/* Контейнер для левой и правой части */
.player-content {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end; /* Измените на flex-start для выравнивания по верху */
    height: 100%;
}

/* Левая часть */
.left-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: calc(100% - 120px); /* Устанавливаем ширину левой секции */
    margin-left: 20px;
}

.left-section h1 {
    width: 100%; 
    font-size: 23px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px; /* Добавлен отступ снизу */
}

/* Контрол громкости */
.volume-control {
    display: flex;
    align-items: center; /* Вертикальное выравнивание */
    justify-content: flex-start; /* Прижимаем содержимое к левой части */
    gap: 10px; /* Промежуток между иконкой и ползунком */
    margin-bottom: 20px; /* Отступ снизу для предотвращения перекрытия */
}

.fa-volume-up {
    transform: scale(0.60);
}

#volume-slider {
    width: 200px; /* Ширина ползунка */
}

/* Правая часть */
.right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px; /* Задаем фиксированную ширину для правой секции */
    height: 100%;
}

/* Логотип наложенный сверху */
.logo-overlay {
    position: absolute;
    top: 5%; /* Сдвиг вверх, чтобы вывести логотип за пределы контейнера */
    width: 250px; /* Ширина логотипа */
    height: 250px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.6); /* Тень вокруг логотипа */
    border-radius: 7%; /* Закругленные углы для логотипа */
}

/* Кнопка воспроизведения */
.play-btn {
    position: absolute;
    top: 250px;
    border: none;
    background-color: transparent; /* Убираем фон */
    padding: 0;
    cursor: pointer;
    margin-top: 80px; /* Поднимает кнопку вверх */
}

.image-container {
    width: 70px; /* Ширина контейнера */
    height: 70px; /* Высота контейнера */
    border-radius: 50%; /* Делаем контейнер круглым */
    overflow: hidden; /* Скрываем лишние части изображения */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); /* Тень вокруг круга */
}

.image-container img {
    width: 100%; /* Изображение полностью заполняет контейнер */
    height: 100%; /* Сохраняем пропорции */
}

/* Информация о треке */
.track-info {
    height: auto; /* Автоматическая высота */
    overflow: hidden; /* Скрываем переполнение */
    white-space: normal; /* Разрешаем перенос текста */
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 10px; /* Отступы внутри блока */
    max-width: 260px; /* Фиксированная максимальная ширина контейнера */
}

#song-info {
    height: 40px;
    font-size: 18px;
    max-width: 100%; /* Ограничиваем ширину */
    white-space: normal; /* Позволяем перенос строк */
    overflow: hidden; /* Скрываем переполнение */
    line-height: 1.2em; /* Устанавливаем высоту строки */
    word-wrap: break-word; /* Переносим длинные слова */
}

/* Социальные иконки */
.social-icons {
    display: flex;
    flex-direction: column; /* Отображаем иконки в столбик */
    justify-content: center;
    margin-top: -400px;
}

.social-icons a {
    margin: 15px 0;
    opacity: 0.6; /* Прозрачность 70% */
}

.social-icons img {
    width: 35px;
    height: 35px;
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.1); /* Увеличение при наведении */
}

/* История треков */
.history-list {
    height: 200px; /* Фиксированная высота для пяти треков */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
}

.history-item {
    display: flex;
    align-items: center;
    height: 45px; /* Уменьшаем высоту для каждого трека */
    margin-bottom: 20px; /* Уменьшаем отступ между треками */
}

.history-thumbnail {
    width: 45px;
    height: 45px;
    margin-right: 5px;
}

.history-info {
    font-size: 16px;
}

