html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #D8E1EC; /* Устанавливаем цвет фона для всей страницы */
    font-size: 150%;
    overflow: hidden; /* Отключаем всю прокрутку */
    touch-action: none;
    overscroll-behavior: contain;
}

/* Для того чтобы контент не двигался при сведении пальцев */
body {
    overscroll-behavior: none;
    touch-action: manipulation;
}

* {
    /* Отключаем возможность выделения текста для предотвращения сдвига */
    user-select: none;
    -webkit-user-drag: none;
}

/* Отключаем зумирование при сведении пальцев */
html {
    touch-action: pan-x pan-y;
}

/* Внешний контейнер, который растягивается на всю ширину устройства */
.outer-container {
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    width: 100vw;            /* Занимаем всю ширину экрана */
    height: 100vh;           /* Занимаем всю высоту экрана */
    background-color: #D8E1EC; /* Цвет фона */
    overflow: hidden;        /* Отключаем возможность прокрутки внутри внешнего контейнера */
}

@font-face {
    font-family: 'Flamenco-Regular'; 
    src: url('../fonts/Flamenco-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Flamenco-Regular', sans-serif;
}

h4 {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Основной контейнер плеера */
.player-container {
    position: relative;
    width: 400px;
    height: 650px; /* Общая высота плеера */
    padding: 40px;
    background-color: #D8E1EC;
    /* border-radius: 15px; */
    /* box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3); */
    margin: 50px auto;
    overflow: visible; /* Позволяем элементам выходить за пределы контейнера */
}

.player-container h4 {
    font-size: large;
}

/* Контейнер для левой и правой части */
.player-content {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end; /* Измените на flex-start для выравнивания по верху */
    height: 100%;
}

/* Левая часть */
.left-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: calc(100% - 120px); /* Устанавливаем ширину левой секции */
    margin-left: 20px;
}

.left-section h1 {
    width: 100%; 
    font-size: 23px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px; /* Добавлен отступ снизу */
}

/* Контрол громкости */
.volume-control {
    display: flex;
    align-items: center; /* Вертикальное выравнивание */
    justify-content: flex-start; /* Прижимаем содержимое к левой части */
    gap: 10px; /* Промежуток между иконкой и ползунком */
    margin-bottom: 15px; /* Отступ снизу для предотвращения перекрытия */
}

.fa-volume-up {
    transform: scale(0.60);
    opacity: 0.6;
}

#volume-slider {
    width: 200px; 
}

/* Правая часть */
.right-section {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px; /* Задаем фиксированную ширину для правой секции */
    height: 100%;
    margin-left: 10px;
}

/* Логотип */
.logo-overlay {
    position: absolute;
    top: 6%;
    width: 240px; /* Ширина логотипа */
    height: 240px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.6); /* Тень вокруг логотипа */
    border-radius: 7%; /* Закругленные углы для логотипа */
}

/* Кнопка воспроизведения */
.play-btn {
    position: absolute;
    top: 250px;
    border: none;
    background-color: transparent; /* Убираем фон */
    padding: 0;
    cursor: pointer;
    margin-top: 85px; /* Поднимает кнопку вверх */
}

.image-container {
    width: 70px; /* Ширина контейнера */
    height: 70px; /* Высота контейнера */
    border-radius: 50%; /* Делаем контейнер круглым */
    overflow: hidden; /* Скрываем лишние части изображения */
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2); /* Тень вокруг круга */
}

.image-container img {
    width: 100%; /* Изображение полностью заполняет контейнер */
    height: 100%; /* Сохраняем пропорции */
}

/* Информация о треке */
.track-info {
    height: auto; /* Автоматическая высота */
    overflow: hidden; /* Скрываем переполнение */
    white-space: normal; /* Разрешаем перенос текста */
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 10px; /* Отступы внутри блока */
    max-width: 260px; /* Фиксированная максимальная ширина контейнера */
}

#song-info {
    height: 40px;
    font-size: 18px;
    max-width: 100%; /* Ограничиваем ширину */
    white-space: normal; /* Позволяем перенос строк */
    overflow: hidden; /* Скрываем переполнение */
    line-height: 1.2em; /* Устанавливаем высоту строки */
    word-wrap: break-word; /* Переносим длинные слова */
}

/* Социальные иконки */
.social-icons {
    display: flex;
    flex-direction: column; /* Отображаем иконки в столбик */
    justify-content: center;
    margin-top: -390px;
}

.social-icons a {
    margin: 15px 0;
    opacity: 0.6; /* Прозрачность 60% */
}

.social-icons img {
    width: 35px;
    height: 35px;
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.1); /* Увеличение при наведении */
}

/* История треков */
.history-list {
    height: 200px; /* Фиксированная высота для пяти треков */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.history-item {
    display: flex;
    align-items: center;
    height: 45px; /* Уменьшаем высоту для каждого трека */
    margin-bottom: 20px; /* Уменьшаем отступ между треками */
}

.history-thumbnail {
    width: 45px;
    height: 45px;
    margin-right: 5px;
    border-radius: 9%;
}

.history-info {
    font-size: 16px;
    margin-left: 10px;
}

.telegram-link {
    position: relative;
    display: inline-block;
    text-align: center;
}

.telegram-img {
    width: 50px;
    height: 50px;
}

.telegram-text {
    display: none;
    position: absolute;
    top: 60px; /* Смещение текста под изображением */
    left: 50%;
    transform: translateX(-50%);
    color: black;
    font-size: 14px;
}

.telegram-link:hover .telegram-text {
    display: block;
}

/* Темная тема Telegram */

.dark-mode .outer-container {
    background-color: #2a2f3a !important;
}

.dark-mode .player-container {
    background-color: #2a2f3a !important;
}

.dark-mode .left-section h1,
.dark-mode .player-container h4,
.dark-mode #song-info,
.dark-mode .history-info,
.dark-mode .track-info,
.dark-mode .telegram-text {
    color: #cccccc !important;
}
.dark-mode #song-info {
    color: #cccccc !important;
}

.dark-mode .volume-control i,
.dark-mode .social-icons a {
    opacity: 0.6;
}

.dark-mode .history-thumbnail {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.dark-mode .social-icons img:hover {
    transform: scale(1.1);
    filter: brightness(1.8) invert(1)
}

.dark-mode .telegram-text {
    background-color: #222;
    padding: 5px 10px;
    border-radius: 5px;
}

.dark-mode .social-icons img,
.dark-mode .logo-overlay img {
    filter: brightness(1.8) invert(1);
}

.dark-mode .fa.fa-volume-up {
    color: #cccccc !important;
    opacity: 1 !important;
}

.dark-mode .play-btn img {
    opacity: 0.6;
    filter: brightness(1.2);
}

.in-telegram .volume-control {
    visibility: hidden;
    pointer-events: none;
    min-height: 10px; /* Добавляем невидимый заполнитель */
}