body {
    background-color: #D8E1EC; /* Устанавливаем цвет фона для всей страницы */
    font-size: 150%; /* Увеличиваем все шрифты на 20% */
}

@font-face {
    font-family: 'Flamenco-Regular'; /* Имя кастомного шрифта */
    src: url('../fonts/Flamenco-Regular.ttf') format('truetype'); /* Путь к вашему шрифту */
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Flamenco-Regular', sans-serif; /* Используем кастомный шрифт */
}

/* Пример для иконок или элементов */
.icon {
    font-family: 'fontawesome-webfont';
}

/* Основной контейнер плеера */
.player-container {
    position: relative;
    width: 400px; 
    height: 500px;/* Общая ширина плеера */
    padding: 40px;
    background-color: #EAF0F5;
    border-radius: 15px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
    margin: 50px auto;
}

/* Контейнер для левой и правой части */
.player-content {
    display: flex;
    justify-content: space-between; /* Разделяем контент на левую и правую часть */
    align-items: flex-start; /* Выравниваем контент сверху */
    height: 100%; /* Полная высота родительского контейнера */
}

/* Левая часть */
.left-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Это заставляет контент прилипнуть к нижней части */
    height: 100%; /* Полная высота родительского контейнера */
    margin-top: auto; /* Сдвигает содержимое вниз */
}
/* Название станции и описание */
.left-section h1 {
    font-size: 24px;
    color: #333;
}

/* Контрол громкости */
.volume-control {
    display: flex;
    justify-content: flex-end; /* Сдвигает ползунок к правому краю контейнера */
    align-items: center;
    gap: 15px;
}

#volume-slider {
    width: 200px; /* Задайте ширину ползунка */
}

/* Время */
.track-info {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

/* Контейнер для правой части */
.right-section {
    display: flex;
    flex-direction: column; /* Вертикальная колонка */
    justify-content: space-between; /* Отдельные элементы */
    /* align-items: flex-start; /Выравнивание по левому краю */
    height: 90%; /* Убедитесь, что контейнер занимает всю высоту */
}

/* Логотип наложенный сверху */
.logo-overlay {
    position: absolute;
    top: 40px; /* Сдвиг вверх */
    left: -30px; /* Сдвиг влево */
    width: 300px; /* Ширина логотипа */
    height: 300px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.6); /* Тень вокруг логотипа */
    border-radius: 7%; /* Закругленные углы для логотипа */
    z-index: 10; /* Разместить поверх других элементов */
}

/* Детали плеера */
.player-details h1 {
    font-size: 24px;
    color: #333;
    margin-top: 80px; /* Сдвиг вниз, чтобы не перекрывать логотип */
}

.player-details p {
    font-size: 18px;
    color: #666;
}

.play-btn {
    border: none;
    background-color: transparent; /* Убираем фон */
    padding: 0;
    cursor: pointer;
}

/* Кнопка воспроизведения */
.image-container {
    width: 90px;  /* Ширина контейнера */
    height: 90px; /* Высота контейнера */
    border-radius: 50%; /* Делаем контейнер круглым */
    overflow: hidden; /* Скрываем лишние части изображения, чтобы они не выходили за границы */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);  /* Добавляем тень вокруг круга */
    margin-left: 0px;
}

.image-container img {
    width: 100%;  /* Изображение полностью заполняет круглый контейнер */
    height: 100%; /* Сохраняет пропорции */
}


/* Информация о треке */
.track-info {
    margin-top: 15px;
    color: #333;
}

.status {
    display: block;
    font-weight: bold;
    color: #28a745;
    margin-top: 10px;
}

/* Социальные иконки */
.social-icons {
    display: flex;
    flex-direction: column; /* Отображаем иконки в столбик */
    justify-content: center;
    margin-top: 20px;
}

.social-icons a {
    margin: 0 20px;
    margin-top: 30px;
}

.social-icons img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.1); /* Увеличение при наведении */
}
